:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --title-theme-color: #212121;
  --description-color: #757575;
  --accent-color: #2196f3;
  --secondary-color: #ffffff;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}
body {
  font-family: var(--main-font);
  font-style: normal;
}
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.address {
  font-style: normal;
}
img {
  display: block;
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
/*========== COMPONENTS ==========*/
.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--title-theme-color);
  margin-right: 90px;
}
.logo-item {
  color: var(--accent-color);
}
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-theme-color);
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 250ms linear;
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 250ms linear 250ms;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%,-50%) scale(0);
  transition: all 250ms linear 0ms;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) scale(1);
  width: 528px;
  height: 581px;
  background-color: var(--secondary-color);
  transition: all 250ms linear 250ms;
  padding: 40px;
}
.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--secondary-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
.modal-list-svg {
  width: 11px;
  height: 11px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-list-svg:hover {
  cursor: pointer;
  fill: var(--accent-color);
}
/*========== END COMPONENTS ==========*/

/*========== HEADER ==========*/
.header {
  padding: 25px 0;
  border-bottom: 1px solid #ececec;
}
.header .container {
  display: flex;
  align-items: center;
}
.navigation {
  display: flex;
  align-items: center;
}
.navigation-list {
  display: flex;
}
.navigation-list-link.active {
  color: var(--accent-color);
}
.active::after {
  content: "";

  position: absolute;
  left: 0;
  bottom: -32px;

  display: block;
  height: 4px;
  width: 100%;
  background-color: var(--accent-color);
  border-radius: 2px;
}
.navigation-list-item {
  position: relative;
}
.navigation-list-item:not(:last-child) {
  margin-right: 50px;
}
.navigation-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--title-theme-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation-list-link:hover,
.navigation-list-link:focus,
.address-link:hover,
.address-link:focus {
  color: var(--accent-color);
}
.header .address {
  margin-left: auto;
}
.address-list {
  display: flex;
}
.address-link {
  display: flex;
  flex-direction: row-reverse;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--description-color);
  margin-right: 50px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
 .address-link:hover .address-link-svg {
  fill: var(--accent-color);
}
.address-link-svg {
  width: 16px;
  height: 16px;
  fill: var(--description-color);
  margin-right: 10px;
}
/*========== END HEADER ==========*/

/*========== MAIN ==========*/
/*========== HERO ==========*/
.hero {
  max-width:1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-image: linear-gradient(
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)),
  url(../images/hero/img.jpg);
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--secondary-color);
}
.modal-btn {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--secondary-color);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 32px;
  min-width: 200px;
  height: 50px;
  align-items: center;
  text-align: center;
  transition: border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover,
.modal-btn:focus {
  border-radius: 0px;
  background-color: rgba(24, 140, 232, 1);
}
/*========== END HERO ==========*/

/*========== PRINCIPLES ==========*/
.principles {
  padding-top: 94px;
  padding-bottom: 94px;
}
.principles-list {
  display: flex;
}
.principles-list-item:not(:last-child) {
  margin-right: 30px;
}
.principles-list-item::before {
  content: "";
  height: 120px;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
  background-color: #F5F4FA;
}
.icon-antenna::before {
  background-image: url(../images/principles/antenna.svg);
}
.icon-clock::before {
  background-image: url(../images/principles/clock.svg);
}
.icon-diagram::before {
  background-image: url(../images/principles/diagram.svg);
}
.icon-astronaut::before {
  background-image: url(../images/principles/astronaut.svg);
}
.principles-list-title .container {
  display: flex;
}
.principles-list-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-theme-color);
}
.principles-list-discription {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--description-color);
  padding-top: 10px;
}
/*========== END PRINCIPLES ==========*/

/*========== SERVICES ==========*/
.services {
  padding-bottom: 94px;
}
.services-list {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}
.services-list-item {
  position: relative;
}
.overlay-name {
position: absolute;
bottom: 0;
left: 0;
width: 100%;
background-color: rgba(47, 48, 58, 0.8);
font-weight: 700;
font-size: 14px;
line-height: 1.143;
text-align: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--secondary-color);
padding-top: 27px;
padding-bottom: 27px;
}
/*========== END SERVICES ==========*/

/*========== TEAM ==========*/
.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #F5F4FA;
}
.team-list {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}
.team-list-item {
  background-color: var(--secondary-color);
}
.team-list-content {
  padding-top: 30px;
  padding-right: 30px;
  padding-left: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-list-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-theme-color);
  padding-bottom: 10px;
}
.team-list-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--description-color);
  padding-bottom: 16px;
}
.social-list {
  display: flex;
  justify-content: space-between;
}
.social-list-link {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-color);
  border-radius: 50%;
  margin-bottom: 30px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-svg {
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
  .social-list-link:hover .social-list-svg {
  fill: var(--secondary-color);
  }
   .social-list-link:focus .social-list-svg {
  fill: var(--secondary-color);
  }
  .social-list-link:hover,
  .social-list-link:focus {
  background-color: var(--accent-color);
  }
/*========== END TEAM ==========*/
/*========== CLIENTS ==========*/
.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients-list {
  display: flex; 
  margin-top: 50px;
  justify-content: center;
}
.clients-list-item:not(:last-child) {
  margin-right: 30px;
}
 .clients-list-link {
   display: flex;
   width: 170px;
   height: 90px;
   border: 1px solid #AFB1B8;
   border-radius: 4px;
   transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
 .clients-list-svg {
   fill:#AFB1B8;
   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
 }
 .clients-list-svg:hover {
   fill: var(--accent-color);
 }
  .clients-list-link:hover {
   border: 1px solid var(--accent-color);
  }
/*========== END MAIN ==========*/

/*========== FOOTER ==========*/
.footer {
  background-color: #2f303a;
  padding: 60px 0;
}
.footer .container {
  display: flex;
}
.footer .logo {
  display: block;
  margin-bottom: 20px;
  margin-right: 0;
  color: var(--secondary-color);
}
.contact-list-item:not(:last-child) {
  margin-bottom: 9px;
}
.contact-list-address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}
.contact-list-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.join {
  margin-left: 70px;
  padding-top: 12px;
}
.join-name {
display: flex;
font-style: normal;
font-weight: 700;
width: 145px;
height: 16px;
font-size: 14px;
line-height: 1.143;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--secondary-color);
}
.footer .social-list-item {
  margin-top: 20px;
}
.footer .social-list-item:not(:last-child) {
margin-right: 10px;
}
.footer .social-list-svg {
  fill: var(--secondary-color);
}
.footer .social-list-link {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer .social-list-link {
  background-color: rgba(255, 255, 255, 0.1);
}
.footer .social-list-link:hover,
.footer .social-list-link:focus {
  background-color: var(--accent-color);
}
.subscribe {
  margin-left: 93px;
  padding-top: 12px;
}
.subscribe-form {
  display: flex;
}
.subscribe-name {
font-weight: 700;
font-size: 14px;
line-height: 1.143;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--secondary-color);
padding-bottom: 20px;
}
.subscribe-form-input {
width: 358px;
height: 50px;
background-color: transparent;
border: 1px solid rgba(255, 255, 255, 0.3);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
padding-left: 16px;
background-color: transparent;
}
.subscribe-form-input:focus {
color: var(--secondary-color);
}
.btn-submit {
display: flex;
align-items: center;
justify-content: center;
width: 200px;
height: 50px; 
font-weight: 700;
font-size: 16px;
line-height: 1.875;
letter-spacing: 0.06em;
background-color: var(--accent-color);
color: var(--secondary-color);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
margin-left: 12px;
}
.btn-submit::after {
  content: "";   
  width: 24px;
  height: 24px;
  margin-left: 10px;
}
.btn-submit::after {
  background-image: url(../images/footer/send.svg);
}
/*========== END FOOTER ==========*/
/*========== MODAL FORM ==========*/
.modal-form {
  display: flex;
  flex-direction:column;
}
.modal-name {
font-weight: 700;
font-size: 20px;
line-height: 1.15;
text-align: center;
letter-spacing: 0.03em;
color: var(--title-theme-color);
margin-bottom: 12px;
}
.modal-form-input:focus,
.modal-form-message:focus {
  outline: none;
  cursor: pointer;
  border: 1px solid var(--accent-color);
}
.modal-form-input:focus + .modal-form-svg-icon {
  fill: var(--accent-color);
}
.modal-form-field {
font-weight: 400;
font-size: 12px;
line-height: 1.167;
letter-spacing: 0.01em;
color: var(--description-color);
margin-bottom: 10px;
}
.modal-form-field-wrapper {
  display: block;
  position: relative;
  margin-top: 4px;
}
.modal-form-input {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
}
.modal-form-message {
display: block;
width: 100%;
height: 120px;
border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
resize: none;
margin-bottom: 20px;
margin-top: 4px;
margin-bottom: 20px;
padding: 12px 16px;
}
.modal-form-message::placeholder {
font-weight: 400;
font-size: 14px;
line-height: 1.143;
letter-spacing: 0.01em;
color: rgba(117, 117, 117, 0.5);
}
.modal-form-svg-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
}
.modal-form-policy:checked + .check-policy-name::before {
  background-color: var(--accent-color);
  background-image: url(../images/checkbox/mark.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.check-policy-name {
display: flex;
align-items: center;
justify-content: center;
font-weight: 400;
font-size: 14px;
line-height: 1.714;
letter-spacing: 0.03em;
color: var(--description-color);
}
.check-policy-name::before {
  content: "";
  width: 16px;
  height: 15px;
  display: inline-block;
  margin-right: 7px;
  background-image: url(../images/checkbox/frame.svg);
}
.check-policy-link {
text-decoration-skip-ink: none;
font-weight: 400;
font-size: 14px;
line-height: 1.714;
letter-spacing: 0.03em;
color: var(--accent-color);
padding-left: 3px;
}
.modal-form-btn {
  align-self: flex-start;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--secondary-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  margin: 0 auto;
  margin-top: 30px;
}
/*========== END MODAL FORM ==========*/
/*========== PORTFOLIO ==========*/
/*========== MAIN ==========*/
.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}
.filter-list {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}
.filter-list-item:not(:last-child) {
  margin-right: 8px;
}
.filter-list-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-theme-color);
  border-radius: 4px;
  border-color: transparent;
  padding: 6px 20px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-list-title:hover,
.filter-list-title:focus {
  background-color: var(--accent-color);
  color: var(--secondary-color);
}
.categories-list {
  display: flex;
  flex-wrap: wrap;
}
.categories-list-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.categories-list-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.categories-list-item:hover .overlay {
transform: translateY(0%);
}
.categories-list-link:focus .overlay {
  transform: translateY(0%);
}
.categories-list-item:not(:nth-child(3n+3)) {
  margin-right: 30px;
}
.categories-list-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}
.categories-list-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-theme-color);
  margin-bottom: 4px;
}
.categories-list-content {
  padding-top: 20px;
  padding-right: 24px;
  padding-left: 24px;
  border: 1px solid #eeeeee;
  background: var(--secondary-color);
}
.categories-list-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--description-color);
  margin-bottom: 20px;
}
.categories-list-img-wrapper {
  position: relative;
  overflow: hidden;
}
.overlay {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(33, 150, 243, 0.9);
font-weight: 400;
font-size: 18px;
line-height: 1.556;
letter-spacing: 0.03em;
color: var(--secondary-color);
padding-top: 63px;
padding-bottom: 63px;
padding-left: 24px;
padding-right: 24px;
transform: translateY(100%);
transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}